@media only screen and (max-width:350px)
{
    .form {
        padding-left: 1rem;
        height: 55vh;
        width: 80%;
      }
      .form h1 {
        text-align: center;
        margin-top: 20px;
        margin-bottom: 18px;
        font-size: 1rem;
      }
      .form .para {
        margin-top: 20px;
        margin-bottom: 19px;
        font-size: 0.5rem;
      }
      .form label{
        font-size: 0.6rem;
      }
      .form input {
        outline: none;
        width: 80%;
        font-size: 0.6rem;
        padding: 3px 2px;
      }
      .form button {
        width: 80%;
        font-size: 1.2rem;
        padding: 2px 0px;
        cursor: pointer;
        background-color: rgb(20, 204, 20);
        color: white;
        border: none;
        border-radius: 6px;
        margin-bottom: 1.2rem;
      }
}
@media only screen and (min-width:351px) and (max-width:500px)
{
    .form {
        padding-left: 1rem;
        height: 55vh;
        width: 80%;
      }
      .form h1 {
        text-align: center;
        margin-top: 20px;
        margin-bottom: 18px;
        font-size: 1rem;
      }
      .form .para {
        margin-top: 20px;
        margin-bottom: 19px;
        font-size: 0.5rem;
      }
      .form label{
        font-size: 0.6rem;
      }
      .form input {
        outline: none;
        width: 80%;
        font-size: 0.6rem;
        padding: 3px 2px;
      }
      .form button {
        width: 80%;
        font-size: 1.2rem;
        padding: 2px 0px;
        cursor: pointer;
        background-color: rgb(20, 204, 20);
        color: white;
        border: none;
        border-radius: 6px;
        margin-bottom: 1.2rem;
      }
}
@media only screen and (min-width:501px) and (max-width:650px)
{
    .form {
        padding-left: 1rem;
        height: 55vh;
        width: 80%;
      }
      .form h1 {
        text-align: center;
        margin-top: 20px;
        margin-bottom: 18px;
        font-size: 1rem;
      }
      .form .para {
        margin-top: 20px;
        margin-bottom: 19px;
        font-size: 0.5rem;
      }
      .form label{
        font-size: 0.6rem;
      }
      .form input {
        outline: none;
        width: 80%;
        font-size: 0.6rem;
        padding: 3px 2px;
      }
      .form button {
        width: 80%;
        font-size: 1.2rem;
        padding: 2px 0px;
        cursor: pointer;
        background-color: rgb(20, 204, 20);
        color: white;
        border: none;
        border-radius: 6px;
        margin-bottom: 1.2rem;
      }
}
@media only screen and (min-width:651px) and (max-width:750px)
{
    .form {
        padding-left: 1rem;
        height: 55vh;
        width: 80%;
      }
      .form h1 {
        text-align: center;
        margin-top: 20px;
        margin-bottom: 18px;
        font-size: 1rem;
      }
      .form .para {
        margin-top: 20px;
        margin-bottom: 19px;
        font-size: 0.5rem;
      }
      .form label{
        font-size: 0.6rem;
      }
      .form input {
        outline: none;
        width: 80%;
        font-size: 0.6rem;
        padding: 3px 2px;
      }
      .form button {
        width: 80%;
        font-size: 1.2rem;
        padding: 2px 0px;
        cursor: pointer;
        background-color: rgb(20, 204, 20);
        color: white;
        border: none;
        border-radius: 6px;
        margin-bottom: 1.2rem;
      }
}